<section class="bg-dark text-light">
    <div class="container text-center">
        <h2 class="pt-4 pb-3 text-secondary"><strong>Impressum</strong></h2>
        <div class="row">
            <div class="col">
                <h3 class="text-secondary"> Inhaber </h3>
                <p class="text-secondary"> Bob Demico  </p> 
            </div>
            <div class="col">
                <h3 class="text-secondary"> Adresse </h3>   
                <p class="text-secondary">
                    Pizzastraße 123 <br>
                    67663 Kaiserslautern
                </p>
            </div>
            <div class="col">
                <h3 class="text-secondary"> Kontakt </h3>
                <p class="text-secondary"> 
                    E-Mail: example@mail.de <br>
                    Tel: 0123456789 </p>
            </div>
        </div>
    </div>
</section>